*.deb
*.log
*.map
*.bin
*.egg-info
*build
*build_local
.idea
*/__pycache__
*.hydra
*.pyc
*.mat
*.ckpt
.vscode

data
3rd
script
*outputs

weights/dino_tiny/*
weights/sam_base/*
weights/depth_anything_v2/*
